@model RenewApplication.Models.Item

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Itemname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Itemname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Harddisk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Harddisk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ram)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Purchprice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Purchprice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sellprice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sellprice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
